*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #009788 0px, #009788 15vh, #d7dad5 15vh, #d7dad5 90vh);
    overflow-y: hidden;
    overflow-x: hidden;
}

.colorenero{
    background-color: black;
    margin-top: 5vh;
    height: 90vh;
    margin-bottom: 5vh;
}