*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #009788 0px, #009788 20vh, #d7dad5 20vh, #d7dad5 60vh);
    overflow-y: hidden;
    overflow-x: hidden;
}

.row{
    --bs-gutter-x: 0;
}

.containter-content{
    margin-top: 5vh;
    height: 90vh;
    margin-bottom: 5vh;
}

.container-chats{
    height: 100%;
}

.col-12{
    background-color: red;
}

.col-4{
    background-color: #fefeff;
}

.col-8{
}

.avatar-io{
    height: 100%;
    border-radius: 50%;
}

.col-profile{
    height: 10%;
    padding: 10px 5px 10px 5px;
    background-color: #eaeaea;
}

.color-icon{
    color: #b1b1b3;
}

.col-notification{
    background-color: #8edafc;
    height: 10%;
}

.icon-notification{
    color: #8edafc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: large;
}

.n-desktop{
    font-size: smaller;
}

.n-notification{
    margin-bottom: 0px;
}

.col-icon-notification{
    width: 50px;
}

.col-text-notification{
    width: 100%;
    margin-left: 10px;
}

.col-chats{
    height: 80%;
}

.avatar-user{
    width: 55px;
    border-radius: 50%;
}

.col-chat{
    height: 10%;
    padding-left: 5px;
}

.nameplate{
    margin-left: 10px;
}

.col-user{
    height: 10%;
    background-color: #eaeaea;
    border-left: 1px solid #b1b1b3;
}

.col-messages{
    height: 80%;
    background-image: url("../img/mine.jpg");
    background-size: cover;
}

.message{
    max-width: 500px;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

.message-sent{
    background-color: #d5f9bb;
    margin-right: 10px;
}

.message-received{
    background-color: #ffffff;
    margin-left: 10px;
}

.col-input{
    height: 10%;
    background-color: #f5eee8;
}